ion-content {
    --background: #1c1c1e; 
    
    .form-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;  
      text-align: center;
      font-family: 'Roboto', sans-serif;  
    }
  
    .title {
      color: #ffffff;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    ion-item {
      width: 100%;
      max-width: 320px;
      margin-bottom: 15px;
      --background: #2a2a2b;  
      --color: #ffffff;  
      --highlight-color-focused: #00ff00; 
      --highlight-color-invalid: red; 
      --border-radius: 10px;  
    }
  
    ion-input {
      color: #ffffff;  
    }

   
  
    ion-button {
      max-width: 320px;
      border-radius: 8px;  
      margin-bottom: 15px;
      --color: #ffffff;  
    }
  
    ion-icon {
      color: #ffffff;  
    }
  
    p {
      color: #ffffff;  
      font-size: 0.9rem;
      margin-top: 10px;
    }
  
    a {
      color: #00ff00;  
      text-decoration: none;
    }

    hr {
        width: 100%; 
        max-width: 320px;  
        border: 0;
        border-top: 1px solid #ffffff;  
        margin: 20px 0;  
        opacity: 0.5;  
      }
  }
  