ion-content {
  --ion-background-color: transparent;
  background: linear-gradient(135deg, #1a1a1a, #2e2e2e);
}

ion-item {
  --background: white; /* Fondo blanco para los campos de entrada */
  color: black; /* Color del texto */
}

ion-label {
  color: #00bcd4; /* Color celeste para el texto del label */
}
