/* Fondo general de la página */
ion-content {
  --ion-background-color: #1a1a1a;
  color: #ffffff;
  padding: 16px;
}

/* Diseño de los ion-item */
ion-item {
  --background: #2e2e2e; /* Fondo gris oscuro */
  color: white;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* Sombra para resaltar cada campo */
}

/* Estilo para los labels */
ion-label {
  color: #00bcd4;
  font-weight: bold;
  font-size: 0.9em;
}



.calendar-month .calendar-day,
.calendar-month .day-highlight {
  color: #000000 !important; /* Cambia el color de los números a negro */
}

.calendar-month .day-selected {
  color: #ffffff !important; /* Cambia el color del número seleccionado a blanco, si quieres */
  background-color: #ff5722 !important; /* Color de fondo del día seleccionado */
}


/* Botones de incrementar y decrementar asientos */
ion-icon[name="remove-circle"],
ion-icon[name="add-circle"] {
  color: #f44336; /* Color rojo para restar */
  font-size: 1.6em;
  padding: 4px;
  border-radius: 50%;
  background-color: #ffffff;
}

ion-icon[name="add-circle"] {
  color: #4caf50; /* Color verde para sumar */
}

/* Estilo para la cantidad de asientos */
ion-note {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 12px;
}

/* Estilo para el botón de guardar */
ion-button {
  border-radius: 8px;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #00bcd4;
}
