<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let viaje of viajes">
    <ion-card-content>
      <p><strong>Dirección de Partida:</strong> {{ viaje.direccionPartida }}</p>
      <p><strong>Dirección de Destino:</strong> {{ viaje.direccionDestino }}</p>
      <p><strong>Precio por Asiento:</strong> ${{ viaje.precioAsiento }}</p>
      <p><strong>Asientos Disponibles:</strong> {{ viaje.asientosInfo.ocupados }} / {{ viaje.asientosDisponibles }}</p>
      
      <div>
        <ng-container *ngFor="let asiento of viaje.asientosInfo.ocupadosArray">
          <ion-icon name="person"></ion-icon>
        </ng-container>
        <ng-container *ngFor="let asiento of viaje.asientosInfo.disponibles">
          <ion-icon name="person-outline"></ion-icon>
        </ng-container>
      </div>
      
      <ion-button expand="full" color="danger" (click)="tomarViaje(viaje)">Tomar viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
