/* Fondo degradado para el contenido */
ion-content {
  --ion-background-color: transparent;
  background: linear-gradient(135deg, #1a1a1a, #2e2e2e);
}

/* Estilo específico para el ícono de refrescar */
ion-icon[name="refresh"] {
  color: #ffffff; /* Color negro */
}

/* Contenedor de la lista de viajes */
ion-list {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

/* Estilo de cada tarjeta de viaje */
ion-card {
  background: #4a4a4a; /* Fondo gris */
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

/* Estilo para el título y detalles de cada viaje */
ion-card p {
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.8;
  margin: 4px 0;
}

/* Botón de 'Tomar' */
ion-button {
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ion-button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

ion-button:active {
  transform: scale(0.96);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

/* Mensaje de 'No hay viajes disponibles' */
.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #b0b0b0;
  height: 100%;
  text-align: center;
  padding: 20px;
  opacity: 0.8;
}

/* Estilos para la sección de asientos disponibles */
.asientos-disponibles {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

ion-icon {
  font-size: 1.2em;
  color: var(--ion-color-dark);
}
