ion-item.link-item {
  --background: transparent;  // Fondo transparente
  --color: #ffffff;           // Color del texto blanco
  margin-top: 8px;            // Espacio entre los enlaces
  text-align: center;         // Alineación centrada
}

ion-label.link-label {
  font-size: 1rem;            // Tamaño de la fuente para mayor legibilidad
  color: #ffffff;             // Color blanco para el texto del enlace
  text-align: center;         // Alineación del texto
}
