<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Viajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/role-selection"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let viaje of viajes">
    <ion-card-header>
      <ion-card-title>Información del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Dirección de Partida:</strong> {{ viaje.direccionPartida.nombre }}</p>
      <p><strong>Dirección de Destino:</strong> {{ viaje.direccionDestino.nombre }}</p>
      <p><strong>Precio por Asiento:</strong> ${{ viaje.precioAsiento }}</p>
      <p><strong>Asientos Disponibles:</strong> {{ viaje.asientosDisponibles }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
